<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540211686450-frhvtornutfdgagkvi3aqbutoopn893i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540211686450-frhvtornutfdgagkvi3aqbutoopn893i</string>
	<key>API_KEY</key>
	<string>AIzaSyAgV5SZ19X7iJ0OjXq77F3YZ2Hz48I_c5E</string>
	<key>GCM_SENDER_ID</key>
	<string>540211686450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikhil.expenseManager</string>
	<key>PROJECT_ID</key>
	<string>expensemanager-4e3e0</string>
	<key>STORAGE_BUCKET</key>
	<string>expensemanager-4e3e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540211686450:ios:acd2f4c2eb0dc536d4a02b</string>
</dict>
</plist>